body {  
	margin: 0; 
	padding: 0;
	}
.page-wrapper {
     
    background-size: cover;
    height: auto;    
}
    
p { 
	margin-top: 0; 
	text-align: justify;
	}
h1{
    font-family: sans-serif;
    text-align:center
    font-size: 40px;  
    background: url(fondo.jpg);
    color: aliceblue;
    display:cover
    background-repeat: no-repeat;
    font-size: 90px;
    padding-bottom: 150px;
    background-repeat:     
}

h3 { 
	font-family: sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #DB7093;
    font-size: 25px;
	}

header h2 { 
	margin-bottom: 40px; 
	width: 200px; 
	height: 18px; 
	float: right;
	white-space: nowrap;
	}

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}


