html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #90EE90; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font-family: sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #FFA500;
	}

header h1 { 
    padding: 35px;
    background: transparent url(fondo.jpg);
    margin-top: 10px;
	height: 250px;
    text-indent: 100%;
	overflow: hidden;
	}
header h2 { 
	background: ; 
	margin-top: 58px; 
	margin-bottom: 40px; 
	width: 200px; 
	height: 18px; 
	float: right;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header {
	padding-top: 20px;
	height: 87px;
}

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	}


.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}

footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

